.button{
    margin-block:2rem;
    background-color:transparent;
    border: 1px dotted #329274;
    padding: .5rem 1rem;
    color: #329274;
    border-radius:1rem;
    cursor: poiter;
    font-weight: 600;
    transition: all .4s ease-in-out;
}

.button:hover{
    background-color: #329274;
    color: #231e39;
}